.bg-custom {
	background: #8e24aa;
}

.navbar .nav-item .nav-link {
	font-size: 20px;
	color: white;
}

.navbar-custom .nav-item:hover .nav-link {
	background: white;
	color: black;
	border-radius: 10px
}

.div-color {
	
	background-image: linear-gradient(to right top, #fb3500, #ff6e00, #ff9900, #fbc100,
		#f2e608);
		height: 500px
}